.elementor-1262 .elementor-element.elementor-element-392fb0a4{--display:flex;--min-height:495px;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--gap:80px 80px;--row-gap:80px;--column-gap:80px;--overflow:hidden;border-style:solid;--border-style:solid;border-width:0px 0px 1px 0px;--border-top-width:0px;--border-right-width:0px;--border-bottom-width:1px;--border-left-width:0px;border-color:#CFCFCF;--border-color:#CFCFCF;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:100px;--padding-bottom:0px;--padding-left:150px;--padding-right:0px;}.elementor-1262 .elementor-element.elementor-element-392fb0a4:not(.elementor-motion-effects-element-type-background), .elementor-1262 .elementor-element.elementor-element-392fb0a4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1262 .elementor-element.elementor-element-392fb0a4.e-con{--align-self:center;}.elementor-1262 .elementor-element.elementor-element-6e3f8694{--display:flex;--min-height:0px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:40px 40px;--row-gap:40px;--column-gap:40px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1262 .elementor-element.elementor-element-79f6fd2f .elementor-heading-title{font-family:"SourceHanSansSC-Medium", Sans-serif;font-size:30px;font-weight:500;color:var( --e-global-color-7e4c7ae );}.elementor-1262 .elementor-element.elementor-element-79f6fd2f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1262 .elementor-element.elementor-element-3b294283 img{width:100%;}.elementor-1262 .elementor-element.elementor-element-1c082aa6{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:flex-start;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:70px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1262 .elementor-element.elementor-element-acd0678{--display:flex;--min-height:0px;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1262 .elementor-element.elementor-element-58a8f90c{--display:flex;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:19px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1262 .elementor-element.elementor-element-62491286 img{width:182px;max-width:182px;height:81px;object-fit:cover;object-position:center center;}.elementor-1262 .elementor-element.elementor-element-62491286 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#CFCFCF;}.elementor-1262 .elementor-element.elementor-element-5d1f0b26{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:flex-start;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1262 .elementor-element.elementor-element-882ef37 img{width:218px;max-width:218px;height:130px;}.elementor-1262 .elementor-element.elementor-element-882ef37 > .elementor-widget-container{margin:0px 0px 16px 0px;padding:0px 0px 0px 0px;}.elementor-1262 .elementor-element.elementor-element-ca40d38{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:15px 15px;--row-gap:15px;--column-gap:15px;--margin-top:0px;--margin-bottom:28px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1262 .elementor-element.elementor-element-493f5a5c .elementor-heading-title{font-family:"SourceHanSansSC-Medium", Sans-serif;font-size:24px;font-weight:500;}.elementor-1262 .elementor-element.elementor-element-493f5a5c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1262 .elementor-element.elementor-element-4e358d35{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1262 .elementor-element.elementor-element-d556be0{text-align:center;width:100%;max-width:100%;}.elementor-1262 .elementor-element.elementor-element-d556be0 .elementor-heading-title{font-family:"SourceHanSansSC-Medium", Sans-serif;font-size:18px;font-weight:500;color:#165EA7;}.elementor-1262 .elementor-element.elementor-element-d556be0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:06px 0px 06px 0px;}@media(min-width:11px){.elementor-1262 .elementor-element.elementor-element-6e3f8694{--width:400px;}.elementor-1262 .elementor-element.elementor-element-58a8f90c{--width:283px;}.elementor-1262 .elementor-element.elementor-element-5d1f0b26{--width:41%;}.elementor-1262 .elementor-element.elementor-element-4e358d35{--width:84%;}}/* Start custom CSS for heading, class: .elementor-element-79f6fd2f */.elementor-1262 .elementor-element.elementor-element-79f6fd2f#cust_template_line{
  position: relative;
}

.elementor-1262 .elementor-element.elementor-element-79f6fd2f#cust_template_line::after {
  content: '';
  display: block;
  width: 180px;   /* 横线长度 */
  height: 2px;    /* 横线粗细 */
  background: #004EA2;
  position: absolute;
  bottom: 0;
  right: 0
}

.elementor-1262 .elementor-element.elementor-element-79f6fd2f#cust_template_line::before {
  content: '';
  display:block;
  width: 30px;
  height: 2px;
  background: #004EA2;
  position: absolute;
  right: -1px;
  bottom: 7px;
  transform: rotate(26deg);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-6e3f8694 */.elementor-1262 .elementor-element.elementor-element-6e3f8694#cust_template_left_img{
    min-width: 400px;
    height: 360px;
    border-bottom: 2px solid #004EA2;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-d556be0 */.elementor-1262 .elementor-element.elementor-element-d556be0#cust_template_border {
background: #D9EAFA;

}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-4e358d35 */.elementor-1262 .elementor-element.elementor-element-4e358d35{
    padding: 10px 0;
  background: repeating-linear-gradient(
    -45deg,                /* 斜纹角度 */
    #d2e8fa,              /* 浅蓝色 */
    #d2e8fa 10px,         /* 浅蓝色宽度 */
    #b5d2f6 10px,         /* 深一点的蓝色 */
    #b5d2f6 20px          /* 深蓝色宽度 */
  );
}/* End custom CSS */
/* Start JX Custom Fonts CSS *//* End JX Custom Fonts CSS */
/* Start custom CSS for heading, class: .elementor-element-79f6fd2f */.elementor-1262 .elementor-element.elementor-element-79f6fd2f#cust_template_line{
  position: relative;
}

.elementor-1262 .elementor-element.elementor-element-79f6fd2f#cust_template_line::after {
  content: '';
  display: block;
  width: 180px;   /* 横线长度 */
  height: 2px;    /* 横线粗细 */
  background: #004EA2;
  position: absolute;
  bottom: 0;
  right: 0
}

.elementor-1262 .elementor-element.elementor-element-79f6fd2f#cust_template_line::before {
  content: '';
  display:block;
  width: 30px;
  height: 2px;
  background: #004EA2;
  position: absolute;
  right: -1px;
  bottom: 7px;
  transform: rotate(26deg);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-6e3f8694 */.elementor-1262 .elementor-element.elementor-element-6e3f8694#cust_template_left_img{
    min-width: 400px;
    height: 360px;
    border-bottom: 2px solid #004EA2;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-d556be0 */.elementor-1262 .elementor-element.elementor-element-d556be0#cust_template_border {
background: #D9EAFA;

}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-4e358d35 */.elementor-1262 .elementor-element.elementor-element-4e358d35{
    padding: 10px 0;
  background: repeating-linear-gradient(
    -45deg,                /* 斜纹角度 */
    #d2e8fa,              /* 浅蓝色 */
    #d2e8fa 10px,         /* 浅蓝色宽度 */
    #b5d2f6 10px,         /* 深一点的蓝色 */
    #b5d2f6 20px          /* 深蓝色宽度 */
  );
}/* End custom CSS */
/* Start JX Custom Fonts CSS *//* End JX Custom Fonts CSS */