.elementor-3116 .elementor-element.elementor-element-453f4b3{--display:flex;--min-height:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:144px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-453f4b3:not(.elementor-motion-effects-element-type-background), .elementor-3116 .elementor-element.elementor-element-453f4b3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-7aaff3ce );}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .slider-pro{min-height:650px;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider .slider-pro .jet-slider__content-inner{max-width:100%;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider .sp-buttons{max-width:100%;text-align:center;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider .sp-thumbnail-container{margin:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider .sp-image-container:after{opacity:0.2;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider{padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider__icon{justify-content:center;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider__title{text-align:center;color:#FFFFFF;font-family:"Arial", Sans-serif;font-size:60px;font-weight:400;line-height:60px;padding:0px 0px 0px 0px;margin:-150px 0px 40px 0px;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider__subtitle{text-align:center;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider__desc{align-self:center;text-align:center;font-family:"Shippori Antique B1", Sans-serif;font-size:60px;line-height:60px;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider__button-wrapper{text-align:center;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider .sp-buttons .sp-button{margin:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider .sp-thumbnails-container{margin-top:0px;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider .sp-thumbnail-container:hover:before{border-style:solid;border-width:2px 2px 2px 2px;}.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider .sp-thumbnail-container.sp-selected-thumbnail:before{border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-f392870 );}.elementor-3116 .elementor-element.elementor-element-3621ccd{--display:flex;--min-height:0px;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:80px;--padding-bottom:80px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-3621ccd:not(.elementor-motion-effects-element-type-background), .elementor-3116 .elementor-element.elementor-element-3621ccd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F6F6F6;}.elementor-3116 .elementor-element.elementor-element-3b8a418{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:16px;--padding-bottom:16px;--padding-left:180px;--padding-right:16px;}.elementor-3116 .elementor-element.elementor-element-3b8a418:not(.elementor-motion-effects-element-type-background), .elementor-3116 .elementor-element.elementor-element-3b8a418 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-3116 .elementor-element.elementor-element-4e065be > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}body:not(.rtl) .elementor-3116 .elementor-element.elementor-element-4e065be{left:-27px;}body.rtl .elementor-3116 .elementor-element.elementor-element-4e065be{right:-27px;}.elementor-3116 .elementor-element.elementor-element-4e065be{top:42px;}.elementor-3116 .elementor-element.elementor-element-4e065be img{width:174px;height:60px;}.elementor-3116 .elementor-element.elementor-element-5775949{--display:flex;}.elementor-3116 .elementor-element.elementor-element-9c00dee > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-9c00dee.elementor-element{--align-self:flex-start;}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-grid-item{align-items:stretch;}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-content{padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-image{padding-bottom:calc( 0.63 * 100% );}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post .raven-post-image-overlay:hover, .elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-inside:hover .raven-post-image-overlay{background-color:rgba(0,0,0,0);background-image:none;}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-title, .elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-title a{font-family:"Arial", Sans-serif;}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-meta{font-family:"Montserrat-ExtraBold", Sans-serif;font-size:18px;font-weight:800;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-meta-divider{margin-right:10px;margin-left:10px;}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-grid, .elementor-3116 .elementor-element.elementor-element-9c00dee .raven-masonry{margin-left:calc( -0px / 2 );margin-right:calc( -0px / 2 );}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-grid-item, .elementor-3116 .elementor-element.elementor-element-9c00dee .raven-masonry-item{padding-left:calc( 0px / 2 );padding-right:calc( 0px / 2 );}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-grid.raven-grid-1, .elementor-3116 .elementor-element.elementor-element-9c00dee .raven-masonry.raven-masonry-1{margin-left:0;margin-right:0;}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-grid.raven-grid-1 .raven-grid-item, .elementor-3116 .elementor-element.elementor-element-9c00dee .raven-masonry.raven-masonry-1 .raven-masonry-item{padding-left:0;padding-right:0;}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-item{margin-bottom:0px;}.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-load-more-button{padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-23fc07bb{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:60px;--padding-bottom:60px;--padding-left:20px;--padding-right:20px;}.elementor-3116 .elementor-element.elementor-element-40a0fbeb{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:flex-end;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:50px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-08b6769 > .elementor-widget-container{margin:0px 18px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-08b6769 .raven-heading-title, .elementor-3116 .elementor-element.elementor-element-08b6769 .raven-heading-title-inner{color:#262626;-webkit-text-fill-color:initial;}.elementor-3116 .elementor-element.elementor-element-08b6769 .raven-heading, .elementor-3116 .elementor-element.elementor-element-08b6769 .raven-heading a{font-family:"Arial", Sans-serif;font-size:42px;font-weight:600;line-height:42px;}.elementor-3116 .elementor-element.elementor-element-782452ec > .elementor-widget-container{margin:0px 18px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-782452ec .raven-heading-title, .elementor-3116 .elementor-element.elementor-element-782452ec .raven-heading-title-inner{color:#999999;-webkit-text-fill-color:initial;}.elementor-3116 .elementor-element.elementor-element-782452ec .raven-heading, .elementor-3116 .elementor-element.elementor-element-782452ec .raven-heading a{font-family:"Arial", Sans-serif;font-size:18px;line-height:18px;}.elementor-3116 .elementor-element.elementor-element-3a030f8b{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:30px 30px;--row-gap:30px;--column-gap:30px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-image{padding-bottom:calc( 0.63 * 100% );}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post:not(.raven-post-inline) .raven-post-image, .elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-inline .raven-post-image-wrap{width:100%;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-image img{opacity:1;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-image:hover img{opacity:1;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-inside:hover .raven-post-image img{opacity:1;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post .raven-post-image-overlay:hover, .elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-inside:hover .raven-post-image-overlay{background-color:rgba(0,0,0,0);background-image:none;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-title, .elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-title a{font-family:"Arial", Sans-serif;font-weight:600;}.elementor-3116 .elementor-element.elementor-element-d45c148{--display:flex;--min-height:718px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-d45c148:not(.elementor-motion-effects-element-type-background), .elementor-3116 .elementor-element.elementor-element-d45c148 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EEEEEE;}.elementor-3116 .elementor-element.elementor-element-3b17ba8{--display:flex;--min-height:938px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-3b17ba8:not(.elementor-motion-effects-element-type-background), .elementor-3116 .elementor-element.elementor-element-3b17ba8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F5F5F5;}.elementor-3116 .elementor-element.elementor-element-0111604{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--margin-top:80px;--margin-bottom:70px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-4287029 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-4287029.elementor-element{--align-self:flex-end;}.elementor-3116 .elementor-element.elementor-element-4287029 .elementor-heading-title{font-family:"Arial", Sans-serif;font-size:44px;font-weight:600;line-height:44px;}.elementor-3116 .elementor-element.elementor-element-ee0899d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-ee0899d.elementor-element{--align-self:flex-end;}.elementor-3116 .elementor-element.elementor-element-ee0899d .elementor-heading-title{font-family:"Arial", Sans-serif;font-size:18px;line-height:18px;color:#999999;}.elementor-3116 .elementor-element.elementor-element-0b5d2f8{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:16px;--padding-bottom:16px;--padding-left:16px;--padding-right:16px;}.elementor-3116 .elementor-element.elementor-element-0b5d2f8:not(.elementor-motion-effects-element-type-background), .elementor-3116 .elementor-element.elementor-element-0b5d2f8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-3116 .elementor-element.elementor-element-efe2057{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:20px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-ac620f9 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 16px;border-style:solid;border-width:0px 0px 0px 4px;border-color:var( --e-global-color-f392870 );}.elementor-3116 .elementor-element.elementor-element-ac620f9 .elementor-heading-title{font-family:"Arial", Sans-serif;font-size:24px;font-weight:600;line-height:24px;}.elementor-3116 .elementor-element.elementor-element-8092d30{--display:grid;--e-con-grid-template-columns:repeat(3, 1fr);--e-con-grid-template-rows:repeat(2, 1fr);--grid-auto-flow:row;--margin-top:0px;--margin-bottom:40px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-853a88f{--display:flex;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-8e8e2ab > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#BAB6B6;}.elementor-3116 .elementor-element.elementor-element-8e8e2ab img{height:120px;object-fit:cover;object-position:center center;}.elementor-3116 .elementor-element.elementor-element-b072a19 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-b072a19{text-align:center;}.elementor-3116 .elementor-element.elementor-element-b072a19 .elementor-heading-title{font-family:"Arial", Sans-serif;font-size:16px;line-height:16px;color:#999999;}.elementor-3116 .elementor-element.elementor-element-6779434{--display:flex;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-c5b0d0e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#BAB6B6;}.elementor-3116 .elementor-element.elementor-element-c5b0d0e img{height:120px;object-fit:cover;object-position:center center;}.elementor-3116 .elementor-element.elementor-element-3064372 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-3064372{text-align:center;}.elementor-3116 .elementor-element.elementor-element-3064372 .elementor-heading-title{font-family:"Arial", Sans-serif;font-size:16px;line-height:16px;color:#999999;}.elementor-3116 .elementor-element.elementor-element-fa3f126{--display:flex;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-919ac32 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#BAB6B6;}.elementor-3116 .elementor-element.elementor-element-919ac32 > [data-tippy-root] .tippy-box .tippy-content{text-align:center;}.elementor-3116 .elementor-element.elementor-element-919ac32 img{height:120px;object-fit:cover;object-position:center center;}.elementor-3116 .elementor-element.elementor-element-3c2d80a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-3c2d80a{text-align:center;}.elementor-3116 .elementor-element.elementor-element-3c2d80a .elementor-heading-title{font-family:"Arial", Sans-serif;font-size:16px;line-height:16px;color:#999999;}.elementor-3116 .elementor-element.elementor-element-b46af05{--display:flex;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-2b59e47 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#BAB6B6;}.elementor-3116 .elementor-element.elementor-element-2b59e47 > [data-tippy-root] .tippy-box .tippy-content{text-align:center;}.elementor-3116 .elementor-element.elementor-element-2b59e47 img{height:120px;object-fit:cover;object-position:center center;}.elementor-3116 .elementor-element.elementor-element-cc71a8a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-cc71a8a{text-align:center;}.elementor-3116 .elementor-element.elementor-element-cc71a8a .elementor-heading-title{font-family:"Arial", Sans-serif;font-size:16px;line-height:16px;color:#999999;}.elementor-3116 .elementor-element.elementor-element-b5e5239{--display:flex;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-10adf42 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#BAB6B6;}.elementor-3116 .elementor-element.elementor-element-10adf42 > [data-tippy-root] .tippy-box .tippy-content{text-align:center;}.elementor-3116 .elementor-element.elementor-element-10adf42 img{height:120px;object-fit:cover;object-position:center center;}.elementor-3116 .elementor-element.elementor-element-777e5da > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-777e5da{text-align:center;}.elementor-3116 .elementor-element.elementor-element-777e5da .elementor-heading-title{font-family:"Arial", Sans-serif;font-size:16px;line-height:16px;color:#999999;}.elementor-3116 .elementor-element.elementor-element-f372e5c{--display:flex;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-d2dd0c8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#BAB6B6;}.elementor-3116 .elementor-element.elementor-element-d2dd0c8 > [data-tippy-root] .tippy-box .tippy-content{text-align:center;}.elementor-3116 .elementor-element.elementor-element-d2dd0c8 img{height:120px;object-fit:cover;object-position:center center;}.elementor-3116 .elementor-element.elementor-element-b909213 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-b909213{text-align:center;}.elementor-3116 .elementor-element.elementor-element-b909213 .elementor-heading-title{font-family:"Arial", Sans-serif;font-size:16px;line-height:16px;color:#999999;}.elementor-3116 .elementor-element.elementor-element-699d1ee{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:20px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-8164b69 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 16px;border-style:solid;border-width:0px 0px 0px 4px;border-color:var( --e-global-color-f392870 );}.elementor-3116 .elementor-element.elementor-element-8164b69 .elementor-heading-title{font-family:"Arial", Sans-serif;font-size:24px;font-weight:600;line-height:24px;}.elementor-3116 .elementor-element.elementor-element-61d8a82{--display:grid;--min-height:0px;--e-con-grid-template-columns:repeat(3, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--grid-auto-flow:row;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-56f5438{--display:flex;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-3116 .elementor-element.elementor-element-21f7562 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#BAB6B6;}.elementor-3116 .elementor-element.elementor-element-21f7562 img{height:120px;object-fit:cover;object-position:center center;}.elementor-3116 .elementor-element.elementor-element-e580f52 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3116 .elementor-element.elementor-element-e580f52{text-align:center;}.elementor-3116 .elementor-element.elementor-element-e580f52 .elementor-heading-title{font-family:"Arial", Sans-serif;font-size:16px;line-height:16px;color:#999999;}@media(min-width:11px){.elementor-3116 .elementor-element.elementor-element-453f4b3{--width:100%;}.elementor-3116 .elementor-element.elementor-element-23fc07bb{--content-width:1200px;}.elementor-3116 .elementor-element.elementor-element-40a0fbeb{--width:100%;}}@media(max-width:1024px){.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-image{padding-bottom:calc( 0.63 * 100% );}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-image{padding-bottom:calc( 0.63 * 100% );}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post:not(.raven-post-inline) .raven-post-image, .elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-inline .raven-post-image-wrap{width:100%;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-image img{opacity:1;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-image:hover img{opacity:1;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-inside:hover .raven-post-image img{opacity:1;}.elementor-3116 .elementor-element.elementor-element-8092d30{--grid-auto-flow:row;}.elementor-3116 .elementor-element.elementor-element-61d8a82{--grid-auto-flow:row;}}@media(max-width:10px){.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-image{padding-bottom:calc( 0.63 * 100% );}.elementor-3116 .elementor-element.elementor-element-23fc07bb{--padding-top:80px;--padding-bottom:80px;--padding-left:20px;--padding-right:20px;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-image{padding-bottom:calc( 0.63 * 100% );}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post:not(.raven-post-inline) .raven-post-image, .elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-inline .raven-post-image-wrap{width:100%;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-image img{opacity:1;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-image:hover img{opacity:1;}.elementor-3116 .elementor-element.elementor-element-d0d24b6 .raven-post-inside:hover .raven-post-image img{opacity:1;}.elementor-3116 .elementor-element.elementor-element-8092d30{--e-con-grid-template-columns:repeat(1, 1fr);--grid-auto-flow:row;}.elementor-3116 .elementor-element.elementor-element-61d8a82{--e-con-grid-template-columns:repeat(1, 1fr);--grid-auto-flow:row;}}/* Start custom CSS for jet-slider, class: .elementor-element-53c3ed0 */.elementor-3116 .elementor-element.elementor-element-53c3ed0#home_banner {
    background: white;
    padding: 0px 0px 55px !important;
}

.elementor-3116 .elementor-element.elementor-element-53c3ed0 .sp-bottom-thumbnails {
    all:unset;
}

.elementor-3116 .elementor-element.elementor-element-53c3ed0 .sp-thumbnails {
    display: flex;
}

.elementor-3116 .elementor-element.elementor-element-53c3ed0 .sp-thumbnails-container{
    position: absolute;
    bottom: -30px;
    right: 0px !important;
    background: white;
    padding: 12px 12px 0;
}

.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider__content-item{
    height: 100%;
    background: rgba(29,29,29,0.48);
}

.elementor-3116 .elementor-element.elementor-element-53c3ed0 .jet-slider__title{
    position: absolute;
    top: 310px;
    left: 0;
    color: white;
    z-index: 99 ;
    text-shadow: 0 4px 14px rgba(0, 0, 20, 0.6);
}
}/* End custom CSS */
/* Start custom CSS for raven-posts, class: .elementor-element-9c00dee */.elementor-3116 .elementor-element.elementor-element-9c00dee.elementor-widget-raven-posts{
    width: 100%;
}

.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-posts{
       /*background: red;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    /*background-color: pink*/
}

.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-item{
    width: 100%;
    /*background: pink*/
    position: relative;
    &::after{
    display: black;
    content: ">";
    position: absolute;
    right: 20px;
    top: 10px;
}
}

.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-content{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    border-bottom: 1px solid #d0cece;
    padding: 12px 0 !important;
    
}

.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-meta {
    /*margin-left: 20px;*/
    margin-right: 20px;
    margin-bottom: 0;
    pointer-events: none;
}

.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-meta &gt; a {
    color:black !important;
}

.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-meta &gt;span &gt; a {
    color:black !important;
}

.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post {
    /*background: red;*/
    display: flex;
    flex-direction: row
    ;
}

/*标题 */

.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-title{
    flex:1;
    
    a{
    display: flex;
    color:black;
    &:hover{
        color:#007bff;
}
}
}

/*时间*/
.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-date{
    display: inline-block;
    width: 130px;
    color: black;
}



/*标签*/

.elementor-3116 .elementor-element.elementor-element-9c00dee .raven-post-tags{
    unicode-bidi: isolate;
    margin-right: 35px;
}

.elementor-3116 .elementor-element.elementor-element-9c00dee{
    a[rel="tag"][href*="/custom-post-tag-primary"] {
 
  display: inline-block;
  padding: 0;
  text-align: center;
  height: 24px !important;
  line-height: 24px !important;
  width: 134px;
  font-size: 14px !important;
}

 a[rel="tag"][href*="/custom-post-tag-danger"] {
 display: inline-block;
  padding: 0;
  text-align: center;
  height: 24px !important;
  line-height: 24px !important;
  width: 134px;
  font-size: 14px !important;
}

 a[rel="tag"][href*="/custom-post-tag-warning"] {
 display: inline-block;
  padding: 0;
  text-align: center;
  height: 24px !important;
  line-height: 24px !important;
  width: 134px;
  font-size: 14px !important;
}

 a[rel="tag"][href*="/custom-post-tag-other"] {
 display: inline-block;
  padding: 0;
  text-align: center;
  height: 24px !important;
  line-height: 24px !important;
  width: 134px;
  font-size: 14px !important;
}
.raven-load-more{
    text-align: end;
    padding-right: 40px;
    padding-top: 10px;
}
.raven-load-more-button{
    background: none;
    color: black;
    position: relative;
    &::after{
    display: black;
    position: absolute;
    content:'>';
    padding: 5px;
    /*background: red;*/
    right: -20px;
    top: -4px;
    
}
    
}

}

.elementor-3116 .elementor-element.elementor-element-9c00dee.elementor-widget-raven-posts {
    width: 100%;
}/* End custom CSS */
/* Start custom CSS for raven-posts, class: .elementor-element-d0d24b6 */.elementor-3116 .elementor-element.elementor-element-d0d24b6{
    .raven-post-title{
        position: relative;
        &::after{
    display: block;
    margin-top: 12px;
    font-family: SourceHanSansSC, SourceHanSansSC;
font-weight: 500;
font-size: 18px;
color: #999999;
}
    a{
    color: black;
    &:hover{
    color:#007bff;
}
}
}
}


/*情报的描述   */

.elementor-3116 .elementor-element.elementor-element-d0d24b6{
    .raven-grid-item:nth-child(1){
    .raven-post-title{
    &::after{
          font-family: "Arial";
    content: "尊敬的客户、合作伙伴及业界相关人士：...";
        }
      }
    }
        
}

.elementor-3116 .elementor-element.elementor-element-d0d24b6{
    .raven-grid-item:nth-child(2){
    .raven-post-title{
    &::after{
    font-family: "Arial";
    content: "Polaris集团因事业扩大，现面向日本公开...";
        }
      }
    }
        
}

.elementor-3116 .elementor-element.elementor-element-d0d24b6{
    .raven-grid-item:nth-child(3){
    .raven-post-title{
    &::after{
          font-family: "Arial";
    content: "港区是东京核心的高端商务区之一，周边坐落...";
        }
      }
    }
        
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-d45c148 */.elementor-3116 .elementor-element.elementor-element-d45c148{
    display: none
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-8e8e2ab */.elementor-3116 .elementor-element.elementor-element-8e8e2ab{
    transition: all 0.2s ease;

    &:hover{
        transform: scale(1.005);
        box-shadow: 0 1px 25px #0000001a;
}
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-c5b0d0e */.elementor-3116 .elementor-element.elementor-element-c5b0d0e{
    transition: all 0.2s ease;

    &:hover{
        transform: scale(1.005);
        box-shadow: 0 1px 25px #0000001a;
}
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-919ac32 */.elementor-3116 .elementor-element.elementor-element-919ac32{
    transition: all 0.2s ease;

    &:hover{
        transform: scale(1.005);
        box-shadow: 0 1px 25px #0000001a;
}
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-2b59e47 */.elementor-3116 .elementor-element.elementor-element-2b59e47{
    transition: all 0.2s ease;

    &:hover{
        transform: scale(1.005);
        box-shadow: 0 1px 25px #0000001a;
}
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-10adf42 */.elementor-3116 .elementor-element.elementor-element-10adf42{
    transition: all 0.2s ease;

    &:hover{
        transform: scale(1.005);
        box-shadow: 0 1px 25px #0000001a;
}
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-d2dd0c8 */.elementor-3116 .elementor-element.elementor-element-d2dd0c8{
    transition: all 0.2s ease;

    &:hover{
        transform: scale(1.005);
        box-shadow: 0 1px 25px #0000001a;
}
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-21f7562 */.elementor-3116 .elementor-element.elementor-element-21f7562{
    transition: all 0.2s ease;

    &:hover{
        transform: scale(1.005);
        box-shadow: 0 1px 25px #0000001a;
}
}/* End custom CSS */
/* Start JX Custom Fonts CSS *//* End JX Custom Fonts CSS */
/* Start JX Custom Fonts CSS *//* End JX Custom Fonts CSS */
/* Start JX Custom Fonts CSS */@font-face{font-family:'Montserrat-ExtraBold';font-style:normal;font-weight:normal;src:url('https://polarisgroup-jp.www.aispacelab.cn/wp-content/uploads/sites/2/2025/05/Montserrat-ExtraBold.ttf')format('truetype');}/* End JX Custom Fonts CSS */